.vscode
.DS_Store
**/obj
megaphone
phonebook
bank
zombie
zombieHorde
referenceDemo
attack
replace
harl
harlfilter
fixed
bsp
clapTrap
scavTrap
fragTrap
polymorphism
brain
abstractClass
bureaucrat
form
moreforms
intern
convert
serialize